/* Universal Selector */

* {
    background-color: #fbf7e8;
}


/* Attribute Selector */

[src] {
    display: block;
    margin: 0 auto;
    border-radius: 25%;
}


/* Element Selector */

h1,
h2,
h3 {
    text-align: center;
}

h2 {font-style: oblique;
}


ul li {
    font-size: 24px;
    color: rgb(252, 149, 80);
    text-align: center;
    list-style: outside none;
    }


/* Class Selector */

.section-font {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.about-me {
    font-family: 'Times New Roman', Times, serif;
}


/* ID Selector */

#myfav {
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    border-color: rgb(252, 149, 80);
    border-style: solid;
    border-width: 2px;
}

hr{
    height: 2px;
    background-color: white;
    border: 1px dotted;
}